<h1>New manual investment</h1>

<%= turbo_frame_tag "new_manual_investment", target: '_top' do %>
  <%= render "form", manual_investment: @manual_investment %>
<% end %>

<br>

<div>
  <%= link_to "Back to manual investments", manual_investments_path %>
</div>
